body {background-color: #00ffff; }
/* Makes the body of the page blue */
p {color: #330033;text-align: center; } 
/* Makes the text go in the middle and be coloured black*/
h1 {text-align: left;color: orange; }
/* Makes the text be on the left and be coloured orange */
img {display: block; margin-left: auto;margin-right: auto;}
/* Makes the images go on the left side of the page */
